nav li {
    float: left;
    padding-right: 2px;
  }

  .recipe li {
    float: left;
    width: 40%;
    font-size: 1.3em;
    line-height: 31px;
  }

  .print img {
    margin-right: 3px;
  }

  #logo h1 {
    padding-left: 50px;
    font-family: 'Yellowtail', cursive;
    font-size: 2.4em;
  }

  footer section p{
    padding: 50px 0;
    line-height: 1.5em;
    text-align: center;
    color: #aaa;
  }

  aside img {
    float: left;
  }